<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form action="/dishes" method="POST">
        <th:block th:each="chef : ${chefs}">
            <label>
                <a th:href="@{/listChefs/edit/{id}(id = ${chef.id})}">Edit</a>
                <a th:href="@{/listChefs/delete/{id}(id = ${chef.id})}">Delete</a>
                <input type="radio" name="chefId" th:value="${chef.id}"/>
                Name: <span th:text="${chef.firstName}"></span>
                <span th:text="${chef.lastName}"></span>,
                Bio: <span th:text="${chef.bio}"></span>
            </label>
            <br/>
        </th:block>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
    <form sec:authorize="hasRole('ADMIN')" action="/listChefs/add" method="GET">
        <input type="submit" value="Add chef">
    </form>
</main>
</body>
</html>