<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Restaurant Chefs - Welcome to Our Restaurant</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
            font-family: Arial, sans-serif;
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to Our Restaurant</h1>
</header>
<main>
    <h2>Choose a chef:</h2>
    <form action="/dish" method="POST">

        <th:block th:each="chef : ${chefs}">

            <label>
                <input type="radio" name="chefId" th:value="${chef.id}"/>
                Name: <span th:text="${chef.firstName}"></span>
                <span th:text="${chef.lastName}"></span>,
                Bio: <span th:text="${chef.bio}"></span>
            </label>
            <br>
        </th:block>
        <br/>
        <input type="submit" value="Submit"/>
        <p th:if="${param.error}" style="font-weight: bolder">Please select a chef.</p>

    </form>
</main>
</body>
</html>